* {
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.top-block {
    display: flex;
    padding: 100px 100px 50px 100px;
    align-items: center;
    justify-content: space-evenly;
}

.top-i {
    width: 300px;
}

.top-p {
    padding-right: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 40px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
  }
  
  li {
    float: left;
  }
  
    li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 200;
  }

  li a:hover {
      background-color: #90d8d149;
      border-radius: 5px;
  }

.logo {
    width: 50px;
  }

.main-title {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 200;
  }

  

.middle-block {
    background-color:#90d8d149;
    padding: 100px;
    margin: 0;
  }
   
p {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 18px;
    color: grey;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.bottom-block {
        display: flex;
        padding: 80px 100px 100px 100px;
        align-items: center;
        flex-direction: column;
}

.icons {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
}

.individual-icon {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individual-icon p {
    width: 200px;
}

.fa-heart {
    color: #F2ACC6;
    padding: 20px;
} 

.fa-eye {
    color: #6380A6;
    padding: 20px;
}

.fa-bolt {
    color: #91D9D2;
    padding: 20px;
}

.fa-pencil-alt {
    color: #F280B6;
    padding: 20px
}